
<div class="container min-vh-100 min-vw-100 d-flex flex-md-row flex-sm-column aligm-items-center justify-content-center">

  <div class="row gap-5 mt-auto mb-auto ml-auto mr-auto">
    <h2 class="text-center">Border Radius generator</h2>
    <div class="col p-3">
      <app-form
        [topLeft]="topLeft"
        (changeTopLeft)="onChangeTopLeft($event)"

        [topRight]="topRight"
        (changeTopRight)="onChangeTopRight($event)"

        [bottomLeft]="bottomLeft"
        (changeBottomLeft)="onChangeBottomLeft($event)"

        [bottomRight]="bottomRight"
        (changeBottomRight)="onChangeBottomRight($event)"

        ></app-form>
    </div>
    <div class="col p-3">
      <app-rectangle
        [topLeft]="topLeft"
        [topRight]="topRight"
        [bottomLeft]="bottomLeft"
        [bottomRight]="bottomRight"
        ></app-rectangle>
    </div>
  </div>

</div>


